h1{
    color:aquamarine;
    font-size:250px;
}
h1{
    font-family:serif;
}
h1{
    width:500px;
    height:80px;
    background-color:bisque;
}
img{
    width:500px;
    height:200px;
}
.selected{
    color:blueviolet;
}
